## 赛题描述
本次大赛基于脱敏和采样后的数据信息，预测未来一段时间活跃的用户。

参考 

https://github.com/zhongqiangwu960812/AIGame/blob/master/GameOfKesci/%E5%BF%AB%E6%89%8B%E7%94%A8%E6%88%B7%E6%B4%BB%E8%B7%83%E5%BA%A6/%E5%BF%AB%E6%89%8B%E7%94%A8%E6%88%B7%E6%B4%BB%E8%B7%83%E9%A2%84%E6%B5%8B%E7%AC%94%E8%AE%B0%E7%89%88.ipynb


## 数据说明
大赛提供脱敏和采样后用户行为数据，日期信息进行统一编号，第一天编号为 01， 第二天为 02， 以此类推，所有文件中列使用 tab 分割。
一个二分类问题，即判断一个用户是否为活跃用户。

## 数据文件下载地址

链接：https://pan.baidu.com/s/1MhAU0zyMHA5-bUbPUjWRzQ 
提取码：dz9p

## 文件说明
###    app_launch_log.txt：用户登录数据集
    列名            类型          说明                     示例
    user_id         Int           用户唯一标识（脱敏后）   666
    day             String        日期                     01, 02 …30
    
###    user_activity_log.txt：用户行为数据集（对视频点赞，转发等）
    列名            类型          说明                     示例
    user_id         Int           用户唯一标识（脱敏后）   666
    day             String        日期                     01, 02 …30
    page            Int           行为发生的页面。         1
                                  每个数字分别对应
                                  “关注页”、“个人主页”
                                  “发现页”、“同城页”
                                  或“其他页”中的一个   
    video_id        Int           video id（脱敏后）       333
    author_id       Int           作者 id（脱敏后）        999
    action_type     Int           用户行为类型。           1
                                  每个数字分别对应
                                 “播放”、“关注”
                                 “点赞”、“转发”、
                                 “举报”和“减少此类作品”中的一个	

###    user_register_log.txt：用户注册数据集
    列名            类型          说明                     示例
    user_id         Int           用户唯一标识（脱敏后）   666
    register_day    String        日期                     01, 02 … 30
    register_type   Int           来源渠道（脱敏后）       0
    device type     Int           设备类型（脱敏后）       0
    
###    video_create_log.txt：视频创建数据集
    列名            类型           说明                    示例
    user_id         Int            用户唯一标识（脱敏后）  666
    day             String         拍摄日期                01, 02 … 30

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 数据集中使用制表符来进行分割
#注册数据
register = pd.read_csv('user_register_log.txt',sep='\t',names=['user_id','register_day','register_type','device_type'])
#登录数据
launch = pd.read_csv('app_launch_log.txt',sep='\t',names=['user_id','launch_day'])
#创建视频数据
create = pd.read_csv('video_create_log.txt',sep='\t',names=['user_id','create_day'])
#行为数据
activity = pd.read_csv('user_activity_log.txt',sep='\t',names=['user_id','act_day','page','video_id','author_id','act_type'])

In [3]:
print(register.shape)
print(launch.shape)
print(create.shape)
print(activity.shape)

(51709, 4)
(251943, 2)
(35151, 2)
(20607228, 6)

### 用户注册数据
    列名            类型          说明                     示例
    user_id         Int           用户唯一标识（脱敏后）   666
    register_day    String        日期                     01, 02 … 30
    register_type   Int           来源渠道（脱敏后）       0
    device type     Int           设备类型（脱敏后）       0

In [4]:
register.head()

   user_id  register_day  register_type  device_type
0   744025             1              1          283
1  1270299             1              1          259
2   571220             1              1            2
3  1308501             1              0           23
4   745554             1              2            0

### 用户登录数据

    列名            类型          说明                     示例
    user_id         Int           用户唯一标识（脱敏后）   666
    day             String        日期                     01, 02 …30

In [5]:
#这个用户在哪些天登录了（每个用户可能不止一条）
launch.head()

   user_id  launch_day
0   383135           1
1   330986           4
2   330986           9
3   330986          11
4   330986          12

### 创建视频数据
    列名            类型           说明                    示例
    user_id         Int            用户唯一标识（脱敏后）  666
    day             String         拍摄日期                01, 02 … 30

In [6]:
#按照创建视频的时间记录，每个用户可能在同一天创建不止一个视频
create.head()

   user_id  create_day
0   720497           1
1   720497           1
2   720497           1
3  1075211           6
4  1075211          12

### 行为数据集    
    列名            类型          说明                     示例
    user_id         Int           用户唯一标识（脱敏后）   666
    day             String        日期                     01, 02 …30
    page            Int           行为发生的页面。         1
                                  每个数字分别对应
                                  “关注页”、“个人主页”
                                  “发现页”、“同城页”
                                  或“其他页”中的一个   
    video_id        Int           video id（脱敏后）       333
    author_id       Int           作者 id（脱敏后）        999
    action_type     Int           用户行为类型。           1
                                  每个数字分别对应
                                 “播放”、“关注”
                                 “点赞”、“转发”、
                                 “举报”和“减少此类作品”中的一个

In [7]:
activity.head()

   user_id  act_day  page  video_id  author_id  act_type
0  1062323       22     3   2877472     880271         0
1   639898       17     3    740662     210200         0
2  1260200        5     3   3332414     162866         0
3   817201       22     3   1129617     530246         0
4   817201       23     3   1129617     530246         0

    目标：预测第n+7天用户是否活跃
    模型：RNN
    Feature：  t1   ->  t2     ->   ...  ->   tn 天的数据
                |        |                     |   
    Label:     t(1+7)   t(2+7)       ...      t(n+7)天的活跃情况（是否登录）

In [8]:
#注册时间为1~31，用31-注册时间就可以得到该用户持续的时间
register['seq_length'] = 31 - register['register_day']
register.head()

   user_id  register_day  register_type  device_type  seq_length
0   744025             1              1          283          30
1  1270299             1              1          259          30
2   571220             1              1            2          30
3  1308501             1              0           23          30
4   745554             1              2            0          30

构建字典存储用户在持续时间内，不同日期的数据

In [9]:
user_queue = {i:[] for i in range(1,31)}
user_queue

{1: [],
 2: [],
 3: [],
 4: [],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: [],
 11: [],
 12: [],
 13: [],
 14: [],
 15: [],
 16: [],
 17: [],
 18: [],
 19: [],
 20: [],
 21: [],
 22: [],
 23: [],
 24: [],
 25: [],
 26: [],
 27: [],
 28: [],
 29: [],
 30: []}

In [10]:
for index,row in register.iterrows():
    #row[-1]是seq_length,row[0]是user_id
    # 将user按照序列长度不同放到不同的数组中
    user_queue[row[-1]].append(row[0])

key表示用户持续的天数（序列长度），value表示用户id

In [11]:
user_queue[29]

[916655,
 719262,
 1026175,
 1140342,
 688100,
 1342459,
 926263,
 40710,
 246954,
 153579,
 200400,
 1195373,
 973391,
 65575,
 837576,
 298119,
 1358198,
 277129,
 566363,
 938471,
 854397,
 916651,
 563921,
 834452,
 291352,
 1178849,
 651257,
 445835,
 1144351,
 773513,
 485725,
 198615,
 194583,
 7327,
 372372,
 1105881,
 969026,
 667181,
 234084,
 649008,
 159024,
 1271674,
 415012,
 298599,
 811605,
 501579,
 860358,
 813291,
 296042,
 55692,
 256048,
 406412,
 1100342,
 392373,
 4615,
 824518,
 126911,
 1341370,
 736505,
 233989,
 145223,
 815305,
 371882,
 564434,
 1332694,
 182057,
 460251,
 299835,
 14401,
 1006192,
 582882,
 1360192,
 223179,
 777160,
 412321,
 457958,
 765739,
 90929,
 457810,
 896712,
 97843,
 51306,
 720211,
 133197,
 331962,
 28953,
 1326231,
 508771,
 20242,
 387201,
 48430,
 245662,
 1282923,
 458708,
 37980,
 1048096,
 567600,
 1103524,
 535350,
 70987,
 24609,
 150448,
 498695,
 1089620,
 929485,
 475036,
 660917,
 633625,
 1349886,
 368914,
 998039,
 199301,
 423293,
 1210044,
 566520,
 1207381,
 799249,
 917621,
 862855,
 897022,
 663444,
 1228883,
 284620,
 183274,
 366816,
 1035361,
 1253902,
 537208,
 929404,
 788266,
 623243,
 1241989,
 698291,
 212277,
 1240382,
 883102,
 417832,
 1130487,
 776834,
 202578,
 77580,
 826167,
 126997,
 5565,
 1181884,
 367741,
 312260,
 980740,
 475192,
 858216,
 1035607,
 920120,
 1174311,
 862897,
 1122526,
 510670,
 765158,
 272339,
 478427,
 29213,
 577068,
 607908,
 722663,
 539527,
 215776,
 1349970,
 616203,
 918190,
 817134,
 534726,
 932238,
 560761,
 674705,
 1213053,
 1328527,
 1238179,
 568066,
 420339,
 1080799,
 1163706,
 983598,
 465190,
 744387,
 72930,
 1358960,
 252654,
 1084452,
 239654,
 537155,
 1364993,
 918272,
 950528,
 1066104,
 76615,
 416660,
 1145308,
 163676,
 1018727,
 1175234,
 618070,
 724400,
 93467,
 193422,
 547563,
 763129,
 1125981,
 767686,
 90496,
 973695,
 1076999,
 223443,
 515341,
 250927,
 981471,
 851226,
 1182141,
 845749,
 961017,
 500405,
 296410,
 810686,
 923485,
 1015580,
 987597,
 1235483,
 101704,
 1280890,
 1312893,
 504111,
 206604,
 967415,
 182067,
 860062,
 576377,
 113614,
 582787,
 284592,
 1305417,
 466973,
 1174248,
 1326829,
 1271285,
 74624,
 1040755,
 392954,
 1151228,
 1117373,
 617819,
 1166217,
 1313981,
 1288055,
 230135,
 224532,
 71908,
 670568,
 400046,
 1132145,
 589772,
 468997,
 97329,
 428950,
 824872,
 1366265,
 628866,
 134298,
 1104552,
 359388,
 1326579,
 1162987,
 1086572,
 166386,
 961518,
 570572,
 72542,
 1225328,
 212473,
 733906,
 537535,
 1049358,
 1137635,
 55914,
 993150,
 82270,
 147851,
 63043,
 608887,
 1268794,
 1135926,
 1290754,
 1184705,
 1165020,
 1333296,
 346099,
 818202,
 940046,
 520158,
 403216,
 734274,
 1206348,
 74227,
 26007,
 1233332,
 78449,
 877271,
 336077,
 128261,
 385523,
 52929,
 872647,
 179980,
 680404,
 709737,
 334995,
 475683,
 616983,
 57663,
 1210918,
 457371,
 1168030,
 256807,
 828659,
 701239,
 1211621,
 335817,
 359292,
 1076160,
 662851,
 548090,
 1177278,
 606628,
 1160603,
 149799,
 108633,
 1048781,
 444548,
 273121,
 967288,
 45816,
 1334935,
 282033,
 597345,
 1109023,
 338861,
 138403,
 786528,
 687745,
 641540,
 756655,
 1273256,
 1229364,
 1108856,
 453732,
 580538,
 93144,
 274788,
 1041968,
 140881,
 537369,
 857046,
 138080,
 840634,
 1232990,
 1314142,
 812982,
 1210707,
 59661,
 1094046,
 1127856,
 167623,
 1331031,
 611568,
 768344,
 1095460,
 970548,
 306599,
 1196709,
 435845,
 1269962,
 973896,
 1093179,
 124360,
 1298188,
 1321183,
 862363,
 892008,
 1217335,
 530884,
 18334,
 1111613,
 1332481,
 562705,
 1361512,
 719770,
 1133545,
 111501,
 1144102,
 1122829,
 444831,
 1267041,
 1042312,
 353199,
 898559,
 697541,
 654696,
 884641,
 165143,
 396358,
 58077,
 739670,
 1163003,
 160320,
 749836,
 787849,
 13266,
 17484,
 256177,
 276308,
 329621,
 461353,
 800955,
 994105,
 338152,
 396401,
 245138,
 101359,
 757985,
 223250,
 781149,
 344053,
 80232,
 856693,
 519287,
 996076,
 1335832,
 149631,
 869163,
 1216087,
 74717,
 382281,
 967206,
 92062,
 1097913,
 722548,
 669202,
 1156171,
 227657,
 1168809,
 1246133,
 666051,
 166949,
 837522,
 832918,
 537874,
 622744,
 522768,
 724060,
 1245676,
 1147374,
 1066334,
 471515,
 1181215,
 973035,
 289759,
 1118787,
 938342,
 1252882,
 593251,
 651569,
 740044,
 686176,
 739408,
 845093,
 122876,
 752106,
 1256929,
 742792,
 560904,
 293337,
 930596,
 1164708,
 859947,
 378110,
 522654,
 256476,
 1210029,
 1102949,
 603018,
 239586,
 454087,
 920615,
 592027,
 1086915,
 1089115,
 1125768,
 756486,
 258096,
 324523,
 925919,
 294845,
 647147,
 1338959,
 945123,
 357951,
 687766,
 774208,
 828083,
 1163225,
 1317657,
 422389,
 297683,
 483548,
 403131,
 202583,
 983643,
 1228593,
 1105782,
 601986,
 437806,
 310977,
 1285020,
 93828,
 267827,
 502471,
 1065540,
 262379,
 942184,
 650921,
 1171017,
 520813,
 536743,
 405461,
 842515,
 125419,
 912220,
 22860,
 1321350,
 1320900,
 1057170,
 954089,
 583140,
 1128011,
 744797,
 122704,
 602434,
 533122,
 702863,
 885143,
 247417,
 1065385,
 226488,
 547371,
 1082160,
 505341,
 867528,
 865578,
 963599,
 333359,
 1366711,
 721537,
 1315790,
 952143,
 183407,
 29470,
 204679,
 52245,
 27702,
 1296059,
 479990,
 498070,
 450400,
 1282304,
 528873,
 239674,
 452479,
 686483,
 784815,
 147281,
 412998,
 781416,
 988547,
 123201,
 73933,
 567803,
 1288292,
 556103,
 668328,
 726816,
 677653,
 1048954,
 3465,
 483068,
 1298887,
 1038740,
 815372,
 43207,
 1271881,
 463044,
 312274,
 586972,
 327138,
 467056,
 420933,
 47088,
 1213440,
 1153754,
 1321811,
 358262,
 1044159,
 679377,
 339806,
 654068,
 376680,
 275255,
 936838,
 1198490,
 206807,
 1334205,
 1210877,
 431071,
 980891,
 37125,
 678731,
 1336375,
 33708,
 480923,
 868899,
 830308,
 748710,
 787924,
 471389,
 388471,
 227591,
 755556,
 1280817,
 478851,
 1043946,
 716566,
 112550,
 695473,
 1114679,
 1266907,
 456734,
 828049,
 685600,
 1123421,
 310563,
 1287128,
 711155,
 178193,
 936495,
 447087,
 161424,
 1024634,
 683771,
 1225297,
 449284,
 804836,
 1303402,
 1164419,
 1070477,
 876752,
 1029703,
 805990,
 222018,
 218273,
 631841,
 811426,
 633024,
 337973,
 381516,
 144275,
 847616,
 1226664,
 840748,
 292961,
 1120061,
 1136171,
 317090,
 1064881,
 858044,
 885161,
 640421,
 686580,
 202061,
 1183400,
 984719,
 296284,
 910412,
 433954,
 371204,
 951430,
 796623,
 916586,
 660388,
 674207,
 48731,
 11077,
 419347,
 653998,
 847061,
 1068331,
 1252334,
 1258191,
 658397,
 402303,
 238299,
 1281139,
 1028694,
 787011,
 1064691,
 971399,
 866995,
 855900,
 989140,
 740912,
 308316,
 95908,
 1137130,
 40150,
 1351310,
 415876,
 623732,
 251859,
 488853,
 948767,
 1170638,
 1195510,
 614288,
 520126,
 846363,
 1268936,
 579557,
 1196043,
 23419,
 1207413,
 594222,
 834194,
 618805,
 1059278,
 297101,
 1256595,
 506409,
 845601,
 532717,
 1045545,
 250102,
 650170,
 64603,
 1347284,
 134860,
 63360,
 255055,
 74343,
 61101,
 48804,
 877161,
 889540,
 972255,
 67494,
 596038,
 309275,
 456130,
 492163,
 690714,
 597207,
 433091,
 170082,
 1018276,
 468103,
 804715,
 415227,
 118619,
 462452,
 851824,
 877361,
 9565,
 129817,
 267715,
 861355,
 1012870,
 928183,
 270095,
 711470,
 69989,
 795034,
 672737,
 1236830,
 209357,
 984923,
 296560,
 629949,
 4790,
 1213832,
 478475,
 193913,
 434884,
 751116,
 1297487,
 746672,
 839898,
 1122811,
 617941,
 90513,
 700414,
 720789,
 1300729,
 1248332,
 269799,
 214846,
 546648,
 45926,
 1108131,
 843948,
 1003938,
 1183167,
 1097853,
 386298,
 830439,
 25326,
 1276010,
 714374,
 419851,
 339385,
 1315901,
 535975,
 368826,
 864050,
 1043461,
 851456,
 275095,
 454197,
 1075407,
 247039,
 333893,
 1172766,
 401345,
 1161276,
 640607,
 757054,
 665987,
 727668,
 353306,
 943828,
 1304167,
 149145,
 643048,
 247292,
 676096,
 67269,
 1085623,
 203570,
 725616,
 65007,
 455492,
 1225818,
 1204337,
 939661,
 375183,
 878889,
 207715,
 548185,
 50962,
 15547,
 928116,
 573422,
 680491,
 1314944,
 668486,
 946184,
 299654,
 589686,
 273962,
 486827,
 329322,
 541682,
 1203784,
 754086,
 303861,
 227944,
 1052963,
 1317965,
 969067,
 548890,
 1366238,
 847962,
 47960,
 217937,
 101272,
 605002,
 1287256,
 628890,
 260763,
 449495,
 517194,
 156696,
 1086540,
 706962,
 7722,
 739102,
 1105241,
 848970,
 1045569,
 890359,
 792914,
 645810,
 1156390,
 138989,
 1117097,
 269195,
 367808,
 1052018,
 1173229,
 3998,
 747805,
 223596,
 816765,
 282346,
 94127,
 1051667,
 1351096,
 1073893,
 398026,
 174729,
 1130019,
 1205535,
 321939,
 654006,
 699294,
 1217083,
 234843,
 848883,
 1046032,
 483097,
 8808,
 701584,
 833539,
 270749,
 353603,
 284930,
 1154767,
 194584,
 262271,
 1105628,
 215299,
 545127,
 598203,
 939228,
 136193,
 1025004,
 791422,
 1331894,
 158178,
 37424,
 1091106,
 889073,
 682566,
 554780,
 1131720,
 1326515,
 1044210,
 1347594,
 1132569,
 509409,
 264297,
 65265,
 593728,
 1123382,
 649229,
 766561,
 291685,
 300972,
 229118,
 824982,
 158987,
 676940,
 984819,
 473901,
 441317,
 1128870,
 511075,
 243292,
 976981,
 1084201,
 294466,
 459191,
 73998,
 800851,
 119079,
 1211311,
 29253,
 708960,
 1285028,
 673218,
 702870,
 992788,
 66028,
 221742,
 946520,
 792201,
 1066278,
 ...]

In [12]:
class user_seq:
    
    def __init__(self,register_day,seq_length,n_features):
        self.register_day=register_day
        self.seq_length=seq_length
        # 构建全零的初始特征矩阵：持续天数*特征个数，后续新创建的特征来往里面填充
        # 特征个数固定为12
        # 持续天数，每个用户都不同，也就是针对不同的用户，根据他持续的天数，构建从 1x12 到 30 x 12的矩阵
        self.array=np.zeros([self.seq_length,n_features]) 
        self.array[0,0]=1
        self.page_rank=np.zeros([self.seq_length])
        self.pointer=1
        
    def put_feature(self,feature_number,string):
        # 每一天的记录用逗号','间隔，日期与状态之间用':'间隔
        for i in string.split(','):
            pos,value=i.split(':') #注册后第几天进行了登录，1为指示符
            self.array[int(pos)-self.register_day,feature_number]=1

    def put_PR(self,string):
        for i in string.split(','):
            pos,value=i.split(':')
            self.page_rank[int(pos)-self.register_day]=value

    def get_array(self):
        return self.array
    
    def get_label(self):
        #构造一个序列长度为seq_length，值为NaN的序列
        self.label=np.array([None]*self.seq_length)
        active=self.array[:,:10].sum(axis=1)  # 将用户的行为数据进行求和
        for i in range(self.seq_length-7): # 因为只有一个月30天的数据，用前7天预测第8天，所以最多只能预测30-7=23天的数据
            # 只要这个求和的数大于0，就说明这个用户在这一天是活跃的
            self.label[i]=1*(np.sum(active[i+1:i+8])>0)
        return self.label

In [13]:
# 每一个用户，每一天都统计12项特征
# 特征1：登录信息
n_features=12

# 针对注册数据register中的每一行构建字典
# 字典的key为row[0]: user_id
# 字典的value为一个类user_seq
data={row[0]:user_seq(register_day=row[1],seq_length=row[-1],n_features=n_features) for index,row in register.iterrows()}

In [14]:
data

{744025: <__main__.user_seq at 0x2bb1964d390>,
 1270299: <__main__.user_seq at 0x2bb1964d358>,
 571220: <__main__.user_seq at 0x2bb1964d3c8>,
 1308501: <__main__.user_seq at 0x2bb1964d400>,
 745554: <__main__.user_seq at 0x2bb1964d438>,
 1031012: <__main__.user_seq at 0x2bb1964d470>,
 913297: <__main__.user_seq at 0x2bb1964d4a8>,
 266500: <__main__.user_seq at 0x2bb1964d4e0>,
 475120: <__main__.user_seq at 0x2bb1964d518>,
 547944: <__main__.user_seq at 0x2bb1964d550>,
 916655: <__main__.user_seq at 0x2bb1964d588>,
 719262: <__main__.user_seq at 0x2bb1964d5c0>,
 1026175: <__main__.user_seq at 0x2bb1964d5f8>,
 1140342: <__main__.user_seq at 0x2bb1964d630>,
 688100: <__main__.user_seq at 0x2bb1964d668>,
 1342459: <__main__.user_seq at 0x2bb1964d6a0>,
 926263: <__main__.user_seq at 0x2bb1964d6d8>,
 40710: <__main__.user_seq at 0x2bb1964d710>,
 246954: <__main__.user_seq at 0x2bb1964d748>,
 153579: <__main__.user_seq at 0x2bb1964d780>,
 161418: <__main__.user_seq at 0x2bb1964d7b8>,
 649526: <__main__.user_seq at 0x2bb1964d7f0>,
 376694: <__main__.user_seq at 0x2bb1964d828>,
 1265894: <__main__.user_seq at 0x2bb1964d860>,
 290029: <__main__.user_seq at 0x2bb1964d898>,
 926952: <__main__.user_seq at 0x2bb1964d8d0>,
 70931: <__main__.user_seq at 0x2bb1964d908>,
 319938: <__main__.user_seq at 0x2bb1964d940>,
 711107: <__main__.user_seq at 0x2bb1964d978>,
 872383: <__main__.user_seq at 0x2bb1964d9b0>,
 324085: <__main__.user_seq at 0x2bb1964d9e8>,
 720967: <__main__.user_seq at 0x2bb1964da20>,
 895912: <__main__.user_seq at 0x2bb1964da58>,
 396421: <__main__.user_seq at 0x2bb1964da90>,
 605799: <__main__.user_seq at 0x2bb1964dac8>,
 374225: <__main__.user_seq at 0x2bb1964db00>,
 188120: <__main__.user_seq at 0x2bb1964db38>,
 4416: <__main__.user_seq at 0x2bb1964db70>,
 245385: <__main__.user_seq at 0x2bb1964dba8>,
 1244564: <__main__.user_seq at 0x2bb1964dbe0>,
 321610: <__main__.user_seq at 0x2bb1964dc18>,
 998568: <__main__.user_seq at 0x2bb1964dc50>,
 362447: <__main__.user_seq at 0x2bb1964dc88>,
 508312: <__main__.user_seq at 0x2bb1964dcc0>,
 828824: <__main__.user_seq at 0x2bb1964dcf8>,
 604296: <__main__.user_seq at 0x2bb1964dd30>,
 1040779: <__main__.user_seq at 0x2bb1964dd68>,
 104515: <__main__.user_seq at 0x2bb1964dda0>,
 909345: <__main__.user_seq at 0x2bb1964ddd8>,
 584573: <__main__.user_seq at 0x2bb1964de10>,
 809615: <__main__.user_seq at 0x2bb1964de48>,
 705594: <__main__.user_seq at 0x2bb1964de80>,
 544673: <__main__.user_seq at 0x2bb1964deb8>,
 1353252: <__main__.user_seq at 0x2bb1964def0>,
 1228936: <__main__.user_seq at 0x2bb1964df28>,
 130304: <__main__.user_seq at 0x2bb1964df60>,
 636433: <__main__.user_seq at 0x2bb1964df98>,
 649913: <__main__.user_seq at 0x2bb1964dfd0>,
 300198: <__main__.user_seq at 0x2bb19c41048>,
 958588: <__main__.user_seq at 0x2bb19c41080>,
 365947: <__main__.user_seq at 0x2bb19c410b8>,
 546663: <__main__.user_seq at 0x2bb19c410f0>,
 358836: <__main__.user_seq at 0x2bb19c41128>,
 572651: <__main__.user_seq at 0x2bb19c41160>,
 200677: <__main__.user_seq at 0x2bb19c41198>,
 121072: <__main__.user_seq at 0x2bb19c411d0>,
 283372: <__main__.user_seq at 0x2bb19c41208>,
 1046808: <__main__.user_seq at 0x2bb19c41240>,
 286389: <__main__.user_seq at 0x2bb19c41278>,
 785752: <__main__.user_seq at 0x2bb19c412b0>,
 65439: <__main__.user_seq at 0x2bb19c412e8>,
 1070734: <__main__.user_seq at 0x2bb19c41320>,
 409296: <__main__.user_seq at 0x2bb19c41358>,
 507130: <__main__.user_seq at 0x2bb19c41390>,
 46089: <__main__.user_seq at 0x2bb19c413c8>,
 363195: <__main__.user_seq at 0x2bb19c41400>,
 826213: <__main__.user_seq at 0x2bb19c41438>,
 1095380: <__main__.user_seq at 0x2bb19c41470>,
 742578: <__main__.user_seq at 0x2bb19c414a8>,
 278433: <__main__.user_seq at 0x2bb19c414e0>,
 323276: <__main__.user_seq at 0x2bb19c41518>,
 1080404: <__main__.user_seq at 0x2bb19c41550>,
 371793: <__main__.user_seq at 0x2bb19c41588>,
 581535: <__main__.user_seq at 0x2bb19c415c0>,
 623713: <__main__.user_seq at 0x2bb19c415f8>,
 613814: <__main__.user_seq at 0x2bb19c41630>,
 1230657: <__main__.user_seq at 0x2bb19c41668>,
 181217: <__main__.user_seq at 0x2bb19c416a0>,
 393403: <__main__.user_seq at 0x2bb19c416d8>,
 647111: <__main__.user_seq at 0x2bb19c41710>,
 301007: <__main__.user_seq at 0x2bb19c41748>,
 1720: <__main__.user_seq at 0x2bb19c41780>,
 135240: <__main__.user_seq at 0x2bb19c417b8>,
 1005097: <__main__.user_seq at 0x2bb19c417f0>,
 1265157: <__main__.user_seq at 0x2bb19c41828>,
 422203: <__main__.user_seq at 0x2bb19c41860>,
 491162: <__main__.user_seq at 0x2bb19c41898>,
 392276: <__main__.user_seq at 0x2bb19c418d0>,
 1119103: <__main__.user_seq at 0x2bb19c41908>,
 493601: <__main__.user_seq at 0x2bb19c41940>,
 987199: <__main__.user_seq at 0x2bb19c41978>,
 428929: <__main__.user_seq at 0x2bb19c419b0>,
 764894: <__main__.user_seq at 0x2bb19c419e8>,
 901027: <__main__.user_seq at 0x2bb19c41a20>,
 716335: <__main__.user_seq at 0x2bb19c41a58>,
 1132054: <__main__.user_seq at 0x2bb19c41a90>,
 1201394: <__main__.user_seq at 0x2bb19c41ac8>,
 79180: <__main__.user_seq at 0x2bb19c41b00>,
 363940: <__main__.user_seq at 0x2bb19c41b38>,
 1171561: <__main__.user_seq at 0x2bb19c41b70>,
 29588: <__main__.user_seq at 0x2bb19c41ba8>,
 225105: <__main__.user_seq at 0x2bb19c41be0>,
 479488: <__main__.user_seq at 0x2bb19c41c18>,
 1349377: <__main__.user_seq at 0x2bb19c41c50>,
 755950: <__main__.user_seq at 0x2bb19c41c88>,
 867067: <__main__.user_seq at 0x2bb19c41cc0>,
 1208320: <__main__.user_seq at 0x2bb19c41cf8>,
 644685: <__main__.user_seq at 0x2bb19c41d30>,
 580269: <__main__.user_seq at 0x2bb19c41d68>,
 1278006: <__main__.user_seq at 0x2bb19c41da0>,
 900759: <__main__.user_seq at 0x2bb19c41dd8>,
 301088: <__main__.user_seq at 0x2bb19c41e10>,
 846124: <__main__.user_seq at 0x2bb19c41e48>,
 873341: <__main__.user_seq at 0x2bb19c41e80>,
 373134: <__main__.user_seq at 0x2bb19c41eb8>,
 547864: <__main__.user_seq at 0x2bb19c41ef0>,
 1145926: <__main__.user_seq at 0x2bb19c41f28>,
 741300: <__main__.user_seq at 0x2bb19c41f60>,
 685607: <__main__.user_seq at 0x2bb19c41f98>,
 1096768: <__main__.user_seq at 0x2bb19c41fd0>,
 544078: <__main__.user_seq at 0x2bb19c47048>,
 500537: <__main__.user_seq at 0x2bb19c47080>,
 1126528: <__main__.user_seq at 0x2bb19c470b8>,
 470633: <__main__.user_seq at 0x2bb19c470f0>,
 1260044: <__main__.user_seq at 0x2bb19c47128>,
 1147129: <__main__.user_seq at 0x2bb19c47160>,
 708206: <__main__.user_seq at 0x2bb19c47198>,
 578505: <__main__.user_seq at 0x2bb19c471d0>,
 473398: <__main__.user_seq at 0x2bb19c47208>,
 805787: <__main__.user_seq at 0x2bb19c47240>,
 905493: <__main__.user_seq at 0x2bb19c47278>,
 706631: <__main__.user_seq at 0x2bb19c472b0>,
 875685: <__main__.user_seq at 0x2bb19c472e8>,
 969252: <__main__.user_seq at 0x2bb19c47320>,
 24482: <__main__.user_seq at 0x2bb19c47358>,
 935166: <__main__.user_seq at 0x2bb19c47390>,
 1316877: <__main__.user_seq at 0x2bb19c473c8>,
 1163109: <__main__.user_seq at 0x2bb19c47400>,
 657176: <__main__.user_seq at 0x2bb19c47438>,
 1024790: <__main__.user_seq at 0x2bb19c47470>,
 1216256: <__main__.user_seq at 0x2bb19c474a8>,
 908794: <__main__.user_seq at 0x2bb19c474e0>,
 154609: <__main__.user_seq at 0x2bb19c47518>,
 1283254: <__main__.user_seq at 0x2bb19c47550>,
 498488: <__main__.user_seq at 0x2bb19c47588>,
 969395: <__main__.user_seq at 0x2bb19c475c0>,
 64315: <__main__.user_seq at 0x2bb19c475f8>,
 354563: <__main__.user_seq at 0x2bb19c47630>,
 1356592: <__main__.user_seq at 0x2bb19c47668>,
 706245: <__main__.user_seq at 0x2bb19c476a0>,
 173080: <__main__.user_seq at 0x2bb19c476d8>,
 315508: <__main__.user_seq at 0x2bb19c47710>,
 889586: <__main__.user_seq at 0x2bb19c47748>,
 932852: <__main__.user_seq at 0x2bb19c47780>,
 196795: <__main__.user_seq at 0x2bb19c477b8>,
 700459: <__main__.user_seq at 0x2bb19c477f0>,
 784518: <__main__.user_seq at 0x2bb19c47828>,
 1149160: <__main__.user_seq at 0x2bb19c47860>,
 251319: <__main__.user_seq at 0x2bb19c47898>,
 526703: <__main__.user_seq at 0x2bb19c478d0>,
 320032: <__main__.user_seq at 0x2bb19c47908>,
 119327: <__main__.user_seq at 0x2bb19c47940>,
 627445: <__main__.user_seq at 0x2bb19c47978>,
 1333459: <__main__.user_seq at 0x2bb19c479b0>,
 588012: <__main__.user_seq at 0x2bb19c479e8>,
 12034: <__main__.user_seq at 0x2bb19c47a20>,
 146820: <__main__.user_seq at 0x2bb19c47a58>,
 1243074: <__main__.user_seq at 0x2bb19c47a90>,
 271512: <__main__.user_seq at 0x2bb19c47ac8>,
 1257585: <__main__.user_seq at 0x2bb19c47b00>,
 1124798: <__main__.user_seq at 0x2bb19c47b38>,
 82342: <__main__.user_seq at 0x2bb19c47b70>,
 1045093: <__main__.user_seq at 0x2bb19c47ba8>,
 1087280: <__main__.user_seq at 0x2bb19c47be0>,
 182906: <__main__.user_seq at 0x2bb19c47c18>,
 934918: <__main__.user_seq at 0x2bb19c47c50>,
 856907: <__main__.user_seq at 0x2bb19c47c88>,
 564522: <__main__.user_seq at 0x2bb19c47d68>,
 889866: <__main__.user_seq at 0x2bb19c47da0>,
 986839: <__main__.user_seq at 0x2bb19c47dd8>,
 551821: <__main__.user_seq at 0x2bb19c47e10>,
 988294: <__main__.user_seq at 0x2bb19c47e48>,
 1022936: <__main__.user_seq at 0x2bb19c47e80>,
 349043: <__main__.user_seq at 0x2bb19c47eb8>,
 1010794: <__main__.user_seq at 0x2bb19c47ef0>,
 1274576: <__main__.user_seq at 0x2bb19c47f28>,
 109973: <__main__.user_seq at 0x2bb19c47f60>,
 134299: <__main__.user_seq at 0x2bb19c47f98>,
 1005835: <__main__.user_seq at 0x2bb19c47fd0>,
 864582: <__main__.user_seq at 0x2bb19c4d048>,
 1293122: <__main__.user_seq at 0x2bb19c4d080>,
 896835: <__main__.user_seq at 0x2bb19c4d0b8>,
 630631: <__main__.user_seq at 0x2bb19c4d0f0>,
 1121791: <__main__.user_seq at 0x2bb19c4d128>,
 1038314: <__main__.user_seq at 0x2bb19c4d160>,
 123473: <__main__.user_seq at 0x2bb19c4d198>,
 916883: <__main__.user_seq at 0x2bb19c4d1d0>,
 627561: <__main__.user_seq at 0x2bb19c4d208>,
 1343228: <__main__.user_seq at 0x2bb19c4d240>,
 1134049: <__main__.user_seq at 0x2bb19c4d278>,
 1097140: <__main__.user_seq at 0x2bb19c4d2b0>,
 192598: <__main__.user_seq at 0x2bb19c4d2e8>,
 1084176: <__main__.user_seq at 0x2bb19c4d320>,
 699788: <__main__.user_seq at 0x2bb19c4d358>,
 1206272: <__main__.user_seq at 0x2bb19c4d390>,
 1357808: <__main__.user_seq at 0x2bb19c4d3c8>,
 879812: <__main__.user_seq at 0x2bb19c4d400>,
 178800: <__main__.user_seq at 0x2bb19c4d438>,
 6142: <__main__.user_seq at 0x2bb19c4d470>,
 744006: <__main__.user_seq at 0x2bb19c4d4a8>,
 498016: <__main__.user_seq at 0x2bb19c4d4e0>,
 603422: <__main__.user_seq at 0x2bb19c4d518>,
 817397: <__main__.user_seq at 0x2bb19c4d550>,
 279797: <__main__.user_seq at 0x2bb19c4d588>,
 42931: <__main__.user_seq at 0x2bb19c4d5c0>,
 477509: <__main__.user_seq at 0x2bb19c4d5f8>,
 768177: <__main__.user_seq at 0x2bb19c4d630>,
 1275284: <__main__.user_seq at 0x2bb19c4d668>,
 844601: <__main__.user_seq at 0x2bb19c4d6a0>,
 82524: <__main__.user_seq at 0x2bb19c4d6d8>,
 73158: <__main__.user_seq at 0x2bb19c4d710>,
 1139294: <__main__.user_seq at 0x2bb19c4d748>,
 1102709: <__main__.user_seq at 0x2bb19c4d780>,
 52918: <__main__.user_seq at 0x2bb19c4d7b8>,
 85132: <__main__.user_seq at 0x2bb19c4d7f0>,
 23948: <__main__.user_seq at 0x2bb19c4d828>,
 201951: <__main__.user_seq at 0x2bb19c4d860>,
 343886: <__main__.user_seq at 0x2bb19c4d898>,
 671062: <__main__.user_seq at 0x2bb19c4d8d0>,
 1039738: <__main__.user_seq at 0x2bb19c4d908>,
 310025: <__main__.user_seq at 0x2bb19c4d940>,
 1266850: <__main__.user_seq at 0x2bb19c4d978>,
 590886: <__main__.user_seq at 0x2bb19c4d9b0>,
 942055: <__main__.user_seq at 0x2bb19c4d9e8>,
 694183: <__main__.user_seq at 0x2bb19c4da20>,
 1302790: <__main__.user_seq at 0x2bb19c4da58>,
 1352813: <__main__.user_seq at 0x2bb19c4da90>,
 219457: <__main__.user_seq at 0x2bb19c4dac8>,
 1273778: <__main__.user_seq at 0x2bb19c4db00>,
 615136: <__main__.user_seq at 0x2bb19c4db38>,
 692306: <__main__.user_seq at 0x2bb19c4db70>,
 234824: <__main__.user_seq at 0x2bb19c4dba8>,
 797113: <__main__.user_seq at 0x2bb19c4dbe0>,
 1168061: <__main__.user_seq at 0x2bb19c4dc18>,
 933116: <__main__.user_seq at 0x2bb19c4dc50>,
 675189: <__main__.user_seq at 0x2bb19c4dc88>,
 117234: <__main__.user_seq at 0x2bb19c4dcc0>,
 473215: <__main__.user_seq at 0x2bb19c4dcf8>,
 693597: <__main__.user_seq at 0x2bb19c4dd30>,
 292217: <__main__.user_seq at 0x2bb19c4dd68>,
 318189: <__main__.user_seq at 0x2bb19c4dda0>,
 893024: <__main__.user_seq at 0x2bb19c4ddd8>,
 1147778: <__main__.user_seq at 0x2bb19c4de10>,
 75464: <__main__.user_seq at 0x2bb19c4de48>,
 355948: <__main__.user_seq at 0x2bb19c4de80>,
 1141243: <__main__.user_seq at 0x2bb19c4deb8>,
 885314: <__main__.user_seq at 0x2bb19c4def0>,
 473037: <__main__.user_seq at 0x2bb19c4df28>,
 1161976: <__main__.user_seq at 0x2bb19c4df60>,
 1105249: <__main__.user_seq at 0x2bb19c4df98>,
 1034711: <__main__.user_seq at 0x2bb19c4dfd0>,
 444663: <__main__.user_seq at 0x2bb19c53048>,
 629789: <__main__.user_seq at 0x2bb19c53080>,
 684292: <__main__.user_seq at 0x2bb19c530b8>,
 1220188: <__main__.user_seq at 0x2bb19c530f0>,
 38479: <__main__.user_seq at 0x2bb19c53128>,
 1166260: <__main__.user_seq at 0x2bb19c53160>,
 739798: <__main__.user_seq at 0x2bb19c53198>,
 1023596: <__main__.user_seq at 0x2bb19c531d0>,
 731282: <__main__.user_seq at 0x2bb19c53208>,
 759110: <__main__.user_seq at 0x2bb19c53240>,
 327708: <__main__.user_seq at 0x2bb19c53278>,
 129695: <__main__.user_seq at 0x2bb19c532b0>,
 1344791: <__main__.user_seq at 0x2bb19c532e8>,
 1096813: <__main__.user_seq at 0x2bb19c53320>,
 848341: <__main__.user_seq at 0x2bb19c53358>,
 1068843: <__main__.user_seq at 0x2bb19c53390>,
 419912: <__main__.user_seq at 0x2bb19c533c8>,
 823586: <__main__.user_seq at 0x2bb19c53400>,
 296386: <__main__.user_seq at 0x2bb19c53438>,
 1161945: <__main__.user_seq at 0x2bb19c53470>,
 200400: <__main__.user_seq at 0x2bb19c534a8>,
 1195373: <__main__.user_seq at 0x2bb19c534e0>,
 973391: <__main__.user_seq at 0x2bb19c53518>,
 65575: <__main__.user_seq at 0x2bb19c53550>,
 837576: <__main__.user_seq at 0x2bb19c53588>,
 298119: <__main__.user_seq at 0x2bb19c535c0>,
 1358198: <__main__.user_seq at 0x2bb19c535f8>,
 375546: <__main__.user_seq at 0x2bb19c53630>,
 544646: <__main__.user_seq at 0x2bb19c53668>,
 607849: <__main__.user_seq at 0x2bb19c536a0>,
 354025: <__main__.user_seq at 0x2bb19c536d8>,
 1331521: <__main__.user_seq at 0x2bb19c53710>,
 1191566: <__main__.user_seq at 0x2bb19c53748>,
 199629: <__main__.user_seq at 0x2bb19c53780>,
 1236008: <__main__.user_seq at 0x2bb19c537b8>,
 214542: <__main__.user_seq at 0x2bb19c537f0>,
 350622: <__main__.user_seq at 0x2bb19c53828>,
 190614: <__main__.user_seq at 0x2bb19c53860>,
 964475: <__main__.user_seq at 0x2bb19c53898>,
 45704: <__main__.user_seq at 0x2bb19c538d0>,
 878391: <__main__.user_seq at 0x2bb19c47d30>,
 1105526: <__main__.user_seq at 0x2bb193f3048>,
 164445: <__main__.user_seq at 0x2bb19c53908>,
 488255: <__main__.user_seq at 0x2bb19c53940>,
 143944: <__main__.user_seq at 0x2bb19c53978>,
 802240: <__main__.user_seq at 0x2bb19c539b0>,
 1314381: <__main__.user_seq at 0x2bb19c539e8>,
 863520: <__main__.user_seq at 0x2bb19c53a20>,
 322780: <__main__.user_seq at 0x2bb19c53a58>,
 1115620: <__main__.user_seq at 0x2bb19c53a90>,
 1004240: <__main__.user_seq at 0x2bb19c53ac8>,
 91631: <__main__.user_seq at 0x2bb19c53b00>,
 1306292: <__main__.user_seq at 0x2bb19c53b38>,
 305295: <__main__.user_seq at 0x2bb19c53b70>,
 46877: <__main__.user_seq at 0x2bb19c53ba8>,
 1366339: <__main__.user_seq at 0x2bb19c53be0>,
 1055951: <__main__.user_seq at 0x2bb19c53c18>,
 1186938: <__main__.user_seq at 0x2bb19c53c50>,
 253904: <__main__.user_seq at 0x2bb19c53c88>,
 78349: <__main__.user_seq at 0x2bb19c53cc0>,
 1260188: <__main__.user_seq at 0x2bb19c53cf8>,
 1016609: <__main__.user_seq at 0x2bb19c53d30>,
 993751: <__main__.user_seq at 0x2bb19c53d68>,
 826191: <__main__.user_seq at 0x2bb19c53da0>,
 1042464: <__main__.user_seq at 0x2bb19c53dd8>,
 600907: <__main__.user_seq at 0x2bb19c53e10>,
 75238: <__main__.user_seq at 0x2bb19c53e48>,
 600462: <__main__.user_seq at 0x2bb19c53e80>,
 43426: <__main__.user_seq at 0x2bb19c53eb8>,
 1016709: <__main__.user_seq at 0x2bb19c53ef0>,
 1076150: <__main__.user_seq at 0x2bb19c53f28>,
 861690: <__main__.user_seq at 0x2bb19c53f60>,
 1346568: <__main__.user_seq at 0x2bb19c53f98>,
 461873: <__main__.user_seq at 0x2bb19c53fd0>,
 1102232: <__main__.user_seq at 0x2bb19c5b048>,
 1056760: <__main__.user_seq at 0x2bb19c5b080>,
 1360047: <__main__.user_seq at 0x2bb19c5b0b8>,
 548821: <__main__.user_seq at 0x2bb19c5b0f0>,
 525224: <__main__.user_seq at 0x2bb19c5b128>,
 626427: <__main__.user_seq at 0x2bb19c5b160>,
 354599: <__main__.user_seq at 0x2bb19c5b198>,
 892684: <__main__.user_seq at 0x2bb19c5b1d0>,
 294385: <__main__.user_seq at 0x2bb19c5b208>,
 488384: <__main__.user_seq at 0x2bb19c5b240>,
 1127998: <__main__.user_seq at 0x2bb19c5b278>,
 171819: <__main__.user_seq at 0x2bb19c5b2b0>,
 1197226: <__main__.user_seq at 0x2bb19c5b2e8>,
 66852: <__main__.user_seq at 0x2bb19c5b320>,
 1111524: <__main__.user_seq at 0x2bb19c5b358>,
 1103093: <__main__.user_seq at 0x2bb19c5b390>,
 166587: <__main__.user_seq at 0x2bb19c5b3c8>,
 1090147: <__main__.user_seq at 0x2bb19c5b400>,
 401543: <__main__.user_seq at 0x2bb19c5b438>,
 979232: <__main__.user_seq at 0x2bb19c5b470>,
 1079600: <__main__.user_seq at 0x2bb19c5b4a8>,
 231285: <__main__.user_seq at 0x2bb19c5b4e0>,
 909695: <__main__.user_seq at 0x2bb19c5b518>,
 259356: <__main__.user_seq at 0x2bb19c5b550>,
 482351: <__main__.user_seq at 0x2bb19c5b588>,
 45605: <__main__.user_seq at 0x2bb19c5b5c0>,
 1308171: <__main__.user_seq at 0x2bb19c5b5f8>,
 307872: <__main__.user_seq at 0x2bb19c5b630>,
 308051: <__main__.user_seq at 0x2bb19c5b668>,
 491446: <__main__.user_seq at 0x2bb19c5b6a0>,
 550643: <__main__.user_seq at 0x2bb19c5b6d8>,
 347099: <__main__.user_seq at 0x2bb19c5b710>,
 647478: <__main__.user_seq at 0x2bb19c5b748>,
 1351534: <__main__.user_seq at 0x2bb19c5b780>,
 367241: <__main__.user_seq at 0x2bb19c5b7b8>,
 578309: <__main__.user_seq at 0x2bb19c5b7f0>,
 410784: <__main__.user_seq at 0x2bb19c5b828>,
 374871: <__main__.user_seq at 0x2bb19c5b860>,
 820690: <__main__.user_seq at 0x2bb19c5b898>,
 80545: <__main__.user_seq at 0x2bb19c5b8d0>,
 482040: <__main__.user_seq at 0x2bb19c5b908>,
 660628: <__main__.user_seq at 0x2bb19c5b940>,
 657616: <__main__.user_seq at 0x2bb19c5b978>,
 406622: <__main__.user_seq at 0x2bb19c5b9b0>,
 46519: <__main__.user_seq at 0x2bb19c5b9e8>,
 440020: <__main__.user_seq at 0x2bb19c5ba20>,
 838388: <__main__.user_seq at 0x2bb19c5ba58>,
 372368: <__main__.user_seq at 0x2bb19c5ba90>,
 1028559: <__main__.user_seq at 0x2bb19c5bac8>,
 1014699: <__main__.user_seq at 0x2bb19c5bb00>,
 311119: <__main__.user_seq at 0x2bb19c5bb38>,
 540632: <__main__.user_seq at 0x2bb19c5bb70>,
 1174064: <__main__.user_seq at 0x2bb19c5bba8>,
 1288325: <__main__.user_seq at 0x2bb19c5bbe0>,
 574156: <__main__.user_seq at 0x2bb19c5bc18>,
 277490: <__main__.user_seq at 0x2bb19c47cc0>,
 1359548: <__main__.user_seq at 0x2bb19c5bc88>,
 853695: <__main__.user_seq at 0x2bb19c5bcc0>,
 53864: <__main__.user_seq at 0x2bb19c5bcf8>,
 158030: <__main__.user_seq at 0x2bb19c5bd30>,
 497272: <__main__.user_seq at 0x2bb19c5bd68>,
 699878: <__main__.user_seq at 0x2bb19c5bda0>,
 908320: <__main__.user_seq at 0x2bb19c5bdd8>,
 747066: <__main__.user_seq at 0x2bb19c5be10>,
 294696: <__main__.user_seq at 0x2bb19c5be48>,
 307612: <__main__.user_seq at 0x2bb19c5be80>,
 1046782: <__main__.user_seq at 0x2bb19c5beb8>,
 47841: <__main__.user_seq at 0x2bb19c5bef0>,
 738018: <__main__.user_seq at 0x2bb19c5bf28>,
 241058: <__main__.user_seq at 0x2bb19c5bf60>,
 1014282: <__main__.user_seq at 0x2bb19c5bf98>,
 1293090: <__main__.user_seq at 0x2bb19c5bfd0>,
 1180298: <__main__.user_seq at 0x2bb19c62048>,
 436733: <__main__.user_seq at 0x2bb19c62080>,
 547218: <__main__.user_seq at 0x2bb19c620b8>,
 380844: <__main__.user_seq at 0x2bb19c620f0>,
 1266749: <__main__.user_seq at 0x2bb19c62128>,
 130330: <__main__.user_seq at 0x2bb19c62160>,

### 处理登录信息

In [15]:
launch.head(5)

   user_id  launch_day
0   383135           1
1   330986           4
2   330986           9
3   330986          11
4   330986          12

In [16]:
launch.shape

(251943, 2)

In [17]:
# 里面没有重复的记录，意味着，每个用户，每一天登录只有一条记录
launch[launch.duplicated()]

Empty DataFrame
Columns: [user_id, launch_day]
Index: []

In [18]:
launch['launch']=1 #每个用户每天登录次数
launch_table=launch.groupby(['user_id','launch_day'],as_index=False).agg({'launch':'sum'})
launch_table.head()

   user_id  launch_day  launch
0       16          13       1
1       16          14       1
2       16          15       1
3       16          18       1
4       16          19       1

In [19]:
def record_to_sequence(table): #得到用户特征序列表
    table.columns=['user_id','day','value']
    table.sort_values(by=['user_id','day'],inplace=True)
    table['string']=table.day.map(str)+':'+table.value.map(str)  # 构建新的字段'string', 表示为该日期登录，标识为1，以冒号':'分割
    # 将数据表按照user_id分组，并将各个string字段合并，以逗号','分割
    table=table.groupby(['user_id'],as_index=False).agg({'string':lambda x:','.join(x)})
    return table

In [20]:
launch_table=record_to_sequence(launch) #序列特征结果
launch_table.head()

   user_id                                             string
0       16       13:1,14:1,15:1,18:1,19:1,20:1,21:1,22:1,23:1
1       30                                               24:1
2       98                                               16:1
3      105  12:1,14:1,15:1,16:1,17:1,18:1,19:1,20:1,21:1,2...
4      176                                27:1,28:1,29:1,30:1

例如ID=16的用户会在其特征表的指定位置的（13,14,15,18...行进行填充）

In [21]:
for index,row in launch_table.iterrows(): #根据登录信息对用户特征表进行填充
    # 在特征1位置上放入登录信息
    data[row[0]].put_feature(1,row[1]) #在指定特征位置上进行填充， row[0]: user_id，

### 创作视频信息

In [22]:
create['create']=1
create.head()

   user_id  create_day  create
0   720497           1       1
1   720497           1       1
2   720497           1       1
3  1075211           6       1
4  1075211          12       1

In [23]:
create_table=create.groupby(['user_id','create_day'],as_index=False).agg({'create':'sum'})
create_table=record_to_sequence(create_table)
create_table.head()

   user_id                         string
0       98                           16:1
1      555                      22:1,24:1
2      973  13:1,14:3,20:1,25:1,27:4,28:5
3     1014  16:1,17:1,18:1,19:1,20:1,21:1
4     1180                           21:1

In [24]:
for index,row in create_table.iterrows():
    # 特征2：是否创作视频
    data[row[0]].put_feature(2,row[1])

#### 用户使用时行为特征，例如点赞，转发等

In [25]:
activity.head(5)

   user_id  act_day  page  video_id  author_id  act_type
0  1062323       22     3   2877472     880271         0
1   639898       17     3    740662     210200         0
2  1260200        5     3   3332414     162866         0
3   817201       22     3   1129617     530246         0
4   817201       23     3   1129617     530246         0

In [28]:
activity['act_type'].unique()

array([0, 2, 3, 1, 4, 5], dtype=int64)

In [29]:
#分别对不同行为进行统计，构建6种不同行为特征
for i in range(6):
    act=activity[activity.act_type==i].copy()
    act=act.groupby(['user_id','act_day'],as_index=False).agg({'video_id':'count'})
    act=record_to_sequence(act)
    for index,row in act.iterrows():
        #  将特征依次放到特征3-8中
        data[row[0]].put_feature(i+3,row[1])

#### 产生行为的界面信息

In [31]:
activity['page'].unique()

array([3, 1, 4, 0, 2], dtype=int64)

In [32]:
for i in range(1): #暂不作为特征，如果要做的话，只要改成range(5)就行
    act=activity[activity.page==i].copy()
    act=act.groupby(['user_id','act_day'],as_index=False).agg({'video_id':'count'})
    act=record_to_sequence(act)
    for index,row in act.iterrows():
        data[row[0]].put_feature(i+9,row[1])

#### 观看其他用户作品信息
user_id 不等于 author_id

In [34]:
activity.head(5)

   user_id  act_day  page  video_id  author_id  act_type
0  1062323       22     3   2877472     880271         0
1   639898       17     3    740662     210200         0
2  1260200        5     3   3332414     162866         0
3   817201       22     3   1129617     530246         0
4   817201       23     3   1129617     530246         0

In [35]:
watched=register.loc[:,['user_id']].copy()
watched.columns=['author_id']
# 取author_id != user_id 的交集
watched=pd.merge(watched,activity[activity.author_id!=activity.user_id],how='inner') #只得到交集，相当于看别人视频的
watched=watched.groupby(['author_id','act_day'],as_index=False).agg({'video_id':'count'})
watched=record_to_sequence(watched)
for index,row in watched.iterrows():
    # 特征10：观看其他人视频的信息
    data[row[0]].put_feature(10,row[1])

#### 观看自己的作品信息

In [36]:
watched=activity[activity.author_id==activity.user_id].copy()
watched=watched.groupby(['user_id','act_day'],as_index=False).agg({'video_id':'count'})
watched=record_to_sequence(watched)
for index,row in watched.iterrows():
    # 特征11：观看自己视频的信息
    data[row[0]].put_feature(11,row[1])

#### 制作数据标签
活跃用户定义为：在未来7天内使用过APP（在上述任一类型日志中出现过）

对用户从注册开始时进行统计，对于每1天的数据展开，如果其7天后仍有行为产生，则标签为1

In [39]:
label={user_id:user.get_label() for user_id,user in data.items()}

In [40]:
label

{744025: array([1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, None, None, None, None, None, None, None], dtype=object),
 1270299: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, None, None, None, None, None, None, None], dtype=object),
 571220: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, None, None, None, None, None, None, None], dtype=object),
 1308501: array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, None, None, None, None, None, None, None], dtype=object),
 745554: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, None, None, None, None, None, None, None], dtype=object),
 1031012: array([1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, None, None, None, None, None, None, None], dtype=object),
 913297: array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, None, None, None, None, None, None, None], dtype=object),
 266500: array([1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, None, None, None, None, None, None, None], dtype=object),
 475120: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, None, None, None, None, None, None, None], dtype=object),
 547944: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, None, None, None, None, None, None, None], dtype=object),
 916655: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 719262: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 1026175: array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        None, None, None, None, None, None, None], dtype=object),
 1140342: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        None, None, None, None, None, None, None], dtype=object),
 688100: array([0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 1342459: array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        None, None, None, None, None, None, None], dtype=object),
 926263: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        None, None, None, None, None, None, None], dtype=object),
 40710: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 246954: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 153579: array([0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 161418: array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 649526: array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 376694: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        None, None, None, None, None, None, None], dtype=object),
 1265894: array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        None, None, None, None, None, None, None], dtype=object),
 290029: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        None, None, None, None, None, None, None], dtype=object),
 926952: array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        None, None, None, None, None, None, None], dtype=object),
 70931: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, None,
        None, None, None, None, None, None], dtype=object),
 319938: array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 711107: array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 872383: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None,
        None, None, None, None, None, None], dtype=object),
 324085: array([1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, None,
        None, None, None, None, None, None], dtype=object),
 720967: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 895912: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None,
        None, None, None, None, None, None], dtype=object),
 396421: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None,
        None, None, None, None, None, None], dtype=object),
 605799: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 374225: array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 188120: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 4416: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 245385: array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 1244564: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None,
        None, None, None, None, None, None], dtype=object),
 321610: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None,
        None, None, None, None, None, None], dtype=object),
 998568: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, None, None,
        None, None, None, None, None], dtype=object),
 362447: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 508312: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 828824: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 604296: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 1040779: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 104515: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 909345: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 584573: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 809615: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 705594: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 544673: array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 1353252: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 1228936: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 130304: array([1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 636433: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 649913: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 300198: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 958588: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 365947: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 546663: array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 358836: array([1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None,
        None, None, None, None, None], dtype=object),
 572651: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None,
        None, None, None, None, None], dtype=object),
 200677: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 121072: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None,
        None, None, None, None], dtype=object),
 283372: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 1046808: array([1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None,
        None, None, None, None], dtype=object),
 286389: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 785752: array([0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 65439: array([1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 1070734: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, None, None, None,
        None, None, None, None], dtype=object),
 409296: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None,
        None, None, None, None], dtype=object),
 507130: array([1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None,
        None, None, None, None], dtype=object),
 46089: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 363195: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None,
        None, None, None, None], dtype=object),
 826213: array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None,
        None, None, None], dtype=object),
 1095380: array([0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, None, None, None, None,
        None, None, None], dtype=object),
 742578: array([1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, None, None, None, None,
        None, None, None], dtype=object),
 278433: array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None,
        None, None, None], dtype=object),
 323276: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None,
        None, None, None], dtype=object),
 1080404: array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, None, None, None, None,
        None, None, None], dtype=object),
 371793: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None,
        None, None, None], dtype=object),
 581535: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None,
        None, None, None], dtype=object),
 623713: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None,
        None, None, None], dtype=object),
 613814: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None,
        None, None, None], dtype=object),
 1230657: array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, None, None, None, None,
        None, None, None], dtype=object),
 181217: array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 393403: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 647111: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 301007: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 1720: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 135240: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 1005097: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 1265157: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 422203: array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 491162: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 392276: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 1119103: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 493601: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 987199: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 428929: array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 764894: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 901027: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 716335: array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 1132054: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None,
        None, None], dtype=object),
 1201394: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 79180: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, None, None, None, None, None,
        None, None], dtype=object),
 363940: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 1171561: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, None, None, None, None, None,
        None, None], dtype=object),
 29588: array([0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, None, None, None, None, None,
        None, None], dtype=object),
 225105: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None,
        None], dtype=object),
 479488: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 1349377: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 755950: array([0, 1, 1, 1, 1, 1, 1, 1, 1, 0, None, None, None, None, None, None,
        None], dtype=object),
 867067: array([0, 1, 1, 1, 1, 1, 1, 1, 0, 0, None, None, None, None, None, None,
        None], dtype=object),
 1208320: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 644685: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None,
        None], dtype=object),
 580269: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 1278006: array([1, 0, 0, 0, 0, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 900759: array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None,
        None], dtype=object),
 301088: array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 846124: array([1, 1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None,
        None], dtype=object),
 873341: array([1, 1, 1, 1, 1, 1, 1, 1, 0, None, None, None, None, None, None,
        None], dtype=object),
 373134: array([0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None,
        None], dtype=object),
 547864: array([1, 1, 1, 1, 1, 1, 0, 1, None, None, None, None, None, None, None],
       dtype=object),
 1145926: array([1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 741300: array([0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 685607: array([1, 1, 1, 1, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 1096768: array([1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 544078: array([1, 1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 500537: array([0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 1126528: array([1, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 470633: array([1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 1260044: array([1, 1, 1, 1, 1, 1, 0, None, None, None, None, None, None, None],
       dtype=object),
 1147129: array([1, 1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 708206: array([0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 578505: array([1, 1, 1, 1, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 473398: array([1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 805787: array([0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 905493: array([1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 706631: array([1, 1, 1, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 875685: array([1, 1, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 969252: array([1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 24482: array([1, 1, 1, 1, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 935166: array([0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 1316877: array([1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 1163109: array([1, 1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 657176: array([1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 1024790: array([0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 1216256: array([1, 1, 1, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 908794: array([1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 154609: array([0, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 1283254: array([1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 498488: array([1, 0, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 969395: array([1, 1, 1, 1, 1, None, None, None, None, None, None, None],
       dtype=object),
 64315: array([1, 1, 0, 0, 0, None, None, None, None, None, None, None],
       dtype=object),
 354563: array([0, 0, 0, 0, None, None, None, None, None, None, None], dtype=object),
 1356592: array([1, 1, 1, 1, None, None, None, None, None, None, None], dtype=object),
 706245: array([1, 1, 1, 1, None, None, None, None, None, None, None], dtype=object),
 173080: array([1, 1, 1, 1, None, None, None, None, None, None, None], dtype=object),
 315508: array([0, 0, 0, 0, None, None, None, None, None, None, None], dtype=object),

#### 用户特征数据即为之前提取的data中的各项特征，转换成ndarray

In [41]:
data={user_id:user.get_array() for user_id,user in data.items()}

#### 将上面的方法合并到py文件中

In [44]:
register=pd.read_csv('user_register_log.txt',sep='\t',names=['user_id','register_day','register_type','device_type'])
launch=pd.read_csv('app_launch_log.txt',sep='\t',names=['user_id','launch_day'])
create=pd.read_csv('video_create_log.txt',sep='\t',names=['user_id','create_day'])
activity=pd.read_csv('user_activity_log.txt',sep='\t',names=['user_id','act_day','page','video_id','author_id','act_type'])

In [49]:
from deep_tools import DataGenerator

In [50]:
data_generator=DataGenerator(register,launch,create,activity)

#### 构建RNN

In [52]:
import tensorflow as tf

In [54]:
n_features = 12
n_hu = 8
with tf.variable_scope('train'):
    
    #变量与输入
    lr=tf.placeholder(tf.float32,[],name='learning_rate')

    W_out=tf.get_variable('W_out',[n_hu,1])
    b_out=tf.get_variable('b_out',[1])

    # x和y  x_shape(batch_size, seq_length, n_features)
    x=tf.placeholder(tf.float32,[None,None,n_features])
    y=tf.placeholder(tf.float32,[None,None])
    
    batch_size=tf.shape(x)[0]
    seq_length=tf.shape(x)[1]
    
    #RNN层
    cell=tf.nn.rnn_cell.GRUCell(n_hu)
    initial_state = cell.zero_state(batch_size, dtype=tf.float32)
    # 每一个batch长度相同，但是不同的batch，长度不一样，因此使用dynamic_rnn
    outputs, state = tf.nn.dynamic_rnn(cell, x,
                                       initial_state=initial_state)
     # 具体：https://blog.csdn.net/u010960155/article/details/81707498
        
    #输出层
    outputs=tf.reshape(outputs,[-1,n_hu])
    logits=tf.matmul(outputs,W_out)+b_out
    logits=tf.reshape(logits,tf.stack([batch_size,seq_length]))

WARNING:tensorflow:From C:\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From <ipython-input-54-e339a0b4b456>:19: GRUCell.__init__ (from tensorflow.python.ops.rnn_cell_impl) is deprecated and will be removed in a future version.
Instructions for updating:
This class is equivalent as tf.keras.layers.GRUCell, and will be replaced by that in Tensorflow 2.0.
WARNING:tensorflow:From <ipython-input-54-e339a0b4b456>:23: dynamic_rnn (from tensorflow.python.ops.rnn) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `keras.layers.RNN(cell)`, which is equivalent to this API

In [55]:
#选择部分预测结果与标签当做训练损失计算
logits_local_train=logits[:,:-14]  # 这里-14或者是更小，因为本地训练，我们用前16天训练，16-23天测试
label_local_train=y[:,:-14]

In [56]:
# 设置损失函数

# 正则化项
regularizer = tf.contrib.layers.l2_regularizer(0.00001)
penalty = tf.contrib.layers.apply_regularization(regularizer, tf.trainable_variables())

obj_local = tf.losses.sigmoid_cross_entropy(label_local_train, logits_local_train) + penalty
optimizer = tf.train.AdamOptimizer(lr)
set_local = optimizer.minimize(obj_local)

# 选择部分预测结果与标签当做测试损失计算
logits_local_test = logits[:, -8]
label_local_test = y[:, -8]   #  这里也可以选择其他的天

WARNING: The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
If you depend on functionality not listed there, please file an issue.

WARNING:tensorflow:From C:\Anaconda3\lib\site-packages\tensorflow\python\ops\losses\losses_impl.py:209: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [57]:
def train(n_obs=1000, step=1000, lr_feed=0.01):
    #date_seq = [31] + list(range(2, 16)) + [16] * 15
    variables = [set_local, obj_local, label_local_train, logits_local_train]
    
    for i in range(step):
        length, id_list, data_x, data_y = data_generator.next_batch(n_obs)
        _, los, lab, log = sess.run(variables, 
                                   feed_dict={x:data_x, y:data_y, lr:lr_feed})

In [58]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [59]:
train(n_obs=1000, step=2000, lr_feed=0.01)

In [60]:
def test():
    n_NA = 14     # 本地训练， 我们是1-16天训练，16-23天预测，所以这个地方最大是30-14
    # 优化目标和数据
    variables_1 = [obj_local, logits_local_train, label_local_train]
    variables_2 = [logits_local_test, label_local_test]
    
    obs_count, cum_loss, correct = 0, 0, 0
    user, prob, real = [], [], []
    
    # 训练损失
    for length, id_list, data_x, data_y in zip(*data_generator.get_set('train')):
        _obj, _logits_train, _label_train = sess.run(variables_1,
                                                    feed_dict={x:data_x, y:data_y, lr:0.001})
        obs_count += (length - n_NA) * len(id_list)
        cum_loss += _obj * (length - n_NA) * len(id_list)
        correct += np.sum((1 * (_logits_train>0) == _label_train))
    
    # 测试损失
    for length, id_list, data_x, data_y in zip(*data_generator.get_set('test')):
        _ = sess.run(variables_2, feed_dict={x:data_x, y:data_y, lr:0.001})
        _logits_test, _label_test = _
        real += list(_label_test)
        
        user += list(id_list)
        prob += list(1 / (1+np.exp(-_logits_test.reshape([-1]))))
    
    # 打印训练损失
    print('train_loss', cum_loss/obs_count)
    
    # 测试损失
    result = pd.DataFrame({'user_id':user, 'prob':prob, 'label':real})
    print('test_score:', f(result))
    
    return result

In [62]:
from deep_tools import f
test()

train_loss 0.46508258878152575
test_score: [0.804922850844967, 0.8045231693816226, 0.8040477893454132, 0.8037483266398929, 0.8033117389317491, 0.8034972205731556]

       user_id      prob  label
0      1274576  0.844183    1.0
1       109973  0.789269    1.0
2       134299  0.789269    0.0
3      1005835  0.576562    1.0
4       864582  0.792236    1.0
5      1293122  0.319002    1.0
6       896835  0.739193    1.0
7       630631  0.835431    1.0
8      1121791  0.739193    1.0
9      1038314  0.676065    1.0
10     1201628  0.319002    0.0
11     1323759  0.789269    1.0
12      281753  0.789269    1.0
13     1246728  0.777775    1.0
14     1280301  0.602131    0.0
15      403903  0.857002    1.0
16      456923  0.777775    1.0
17     1165819  0.602131    1.0
18      452121  0.319002    0.0
19      356773  0.789269    1.0
20     1362089  0.319002    1.0
21      767634  0.789269    1.0
22      254346  0.319002    0.0
23     1095295  0.857002    1.0
24     1171136  0.676065    1.0
25     1294875  0.532817    1.0
26      980295  0.319002    0.0
27      750139  0.835431    1.0
28       68475  0.789269    0.0
29      222996  0.724371    1.0
...        ...       ...    ...
37416   313033  0.081268    0.0
37417    54711  0.991729    1.0
37418   460003  0.658489    1.0
37419   697942  0.354698    1.0
37420   434006  0.148968    0.0
37421   648183  0.907804    1.0
37422   177609  0.148628    0.0
37423   913442  0.051264    0.0
37424   916800  0.569809    1.0
37425  1149380  0.061108    0.0
37426  1282083  0.108149    1.0
37427   990879  0.410870    0.0
37428   675844  0.080530    0.0
37429  1136225  0.981965    1.0
37430  1071952  0.850283    1.0
37431   158950  0.936336    1.0
37432    89639  0.061108    0.0
37433   891118  0.988265    1.0
37434   161769  0.960402    1.0
37435  1349729  0.671500    1.0
37436  1109005  0.071271    0.0
37437   662992  0.061108    0.0
37438   758625  0.398465    0.0
37439   370718  0.051264    0.0
37440   643641  0.130567    1.0
37441  1204637  0.983225    1.0
37442   367831  0.103743    0.0
37443  1111122  0.856829    1.0
37444   921992  0.624908    1.0
37445   970964  0.121830    0.0

[37446 rows x 3 columns]